<div class="first-header-container row border-top border-bottom d-flex align-items-center">
    <div class="container d-flex flex-row">
        <div class="left-container col-7 pt-3">
            <div class="d-flex align-items-center">
                <div class="first-header-description">
                    <p class="title-first-header">
                        This First Heading <span class="text-secondary">Will Catch Your Eye</span>
                    </p>
                    <p class="text-start lh-sm fw-bold paragraph-first-header">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consequuntur temporibus autem
                        veniam quas recusandae delectus nisi. Optio recusandae impedit pariatur nesciunt earum sint nemo
                        assumenda.
                    </p>
                </div>
            </div>
        </div>
        <div class="right-container col-5">
            <div class="d-flex align-items-center">
                <div class="photo-container d-flex justify-content-center">
                    <img src="./assets/img/1.jpg" alt="Imagen prueba" class="rounded-circle photo1">
                </div>
            </div>
        </div>

    </div>
</div>