<!--barra de navegacion-->
    <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://getbootstrap.com/docs/5.0/getting-started/introduction/">Start bootstrap</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/workspace/exercise-collaborative-html-website/website1/templates/first_heading.html">About</a>
        <a class="nav-link" href="/workspace/exercise-collaborative-html-website/website1/templates/services.html">Services</a>
        <a class="nav-link" href="/workspace/exercise-collaborative-html-website/website1/templates/portfolio.html">Portfolio</a>
        <a class="nav-link" href="/workspace/exercise-collaborative-html-website/website1/templates/contact.html">Contact</a>
      </div>
    </div>
  </div>
</nav>  


