
<div class="w-100 h-100">
<!-- precing -->

<div class="pricing-header  mx-auto ">
    <h1 class="display-4">Porfolio</h1>
    <p class="lead">Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col">
        <svg class="bd-placeholder-img " width="100%" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Projet Name </h2>
        <p>Donec sed odio dui. </p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col">
        <svg class="bd-placeholder-img " width="100%" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Project Name</h2>
        <p>Duis mollis</p>
        
      </div><!-- /.col-lg-4 -->
      <div class="col">
        <svg class="bd-placeholder-img " width="100%" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>Project Name</h2>
        <p>Donec sed odio dui.</p>

     
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



  