<div class="services-container row d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center border-top pt-2">
        <div class="container d-flex flex-row col-11">
            <div class="left-container col-5">
                <div class="photo-container d-flex justify-content-center">
                    <img src="./assets/img/2.jpg" alt="Imagen prueba" class="rounded-circle photo1">
                </div>
            </div>
            <div class="right-container col-7 pt-3">
                <div class="d-flex align-items-center">
                    <div class="first-header-description">
                        <p class="title-first-header">
                            The Second Heading <span class="text-secondary">Is Pretty Cool.</span>
                        </p>
                        <p class="text-start lh-sm fw-bold paragraph-first-header">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia consequuntur temporibus
                            autem
                            veniam quas recusandae delectus nisi. Optio recusandae impedit pariatur.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>